* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gameContainer {
    margin: 0.5rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0.5rem 1.5rem;

    /* background: rgba( 255, 255, 255, 0.30 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px; */
}

.row {
    display: flex;
    flex-direction: row;
}

button {
    padding: 0.5rem;
    font-size: 3rem;
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
}

.modalBack {
    position: absolute;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background:rgba( 0, 0, 0, 0.6 )
}

.modalCard {
    background: rgba( 255, 255, 255, 0.8 );
    box-shadow: 0 4px 16px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;

    font-size: 4vw;
    padding: 2rem;
    border-radius: 10px;
}

.gamePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bingoButton {
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 10px;

    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 4px 16px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
}

.bingoButton:hover {
    background: rgba( 255, 255, 255, 0.7 );
    box-shadow: 0 4px 16px 0 rgba( 31, 38, 135, 0.50 );
}