* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gameContainer {
    margin: 0.5rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0.5rem 1.5rem;

    background: rgba( 255, 255, 255, 0.30 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

button {
    padding: 0.5rem;
    font-size: 3rem;
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
}

.modalBack {
    position: absolute;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modalCard {
    background-color: #ccc;
}

.gamePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background: none;
    border: none;
    padding: 1rem;
    font-family: 'Poppins' Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button:hover {
    background: rgba( 95, 145, 190, 0.8 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    color: rgba(51, 51, 51, 1);
    border: none;
    padding: 1rem;
    font-family: 'Poppins' Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}